body, html {
  height: 100%;
  margin: 0;
  background-color: #f0f7ff; /* Azul claro para o fundo */
  color: #333; /* Cor do texto principal */
  font-family: 'Arial', sans-serif;
}
.container {
  text-align: center;
  margin: auto;
  max-width: 800px; /* Limitando a largura do conteúdo */
  padding: 0 20px;
}
.question, .name-container {
  margin: 20px 0;
  padding: 10px;
}
.interest-level {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  background-color: #005c99; /* Azul escuro para os níveis de interesse */
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff; /* Texto branco */
  font-size: 1.5em;
  cursor: pointer;
}
button {
  padding: 10px 20px;
  background-color: #005c99;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  box-sizing: border-box;
  border: 2px solid #005c99;
  border-radius: 5px;
}
canvas {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
}
footer {
  margin-top: 20px;
  color: #666;
}
.aptitude-info {
  margin-top: 20px;
}